body {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200vh;
  flex: 1; 
  background-color: black;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.radial {
  flex: 1; 
}

.red-green {
  flex: 1; 
}
