body {
  margin: 20;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 700vh;
  background-color: black;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.radial, 
.red-green, 
.circle-splash, 
.hot-pink, 
.circle-splash,
.gerhard-richter,
.dvd,
.flowfields-cyan,
.colorful-landscape,
.sin-wav-twirl{
  flex: 1;
}
