body {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500vh;
  flex: 1; 
  background-color: black;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}
.radial, .red-green, .circle-splash .hot-pink .circle-splash .gerhard-richter{
  flex: 1;
}
